<!doctype html>
<html lang="tr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="~/Content/assest/css/bootstrap.min.css" type="text/css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="~/Content/assest/css/main.css">

    <link rel="preconnect" href="http://fonts.googleapis.com">

    <link rel="preconnect" href="http://fonts.gstatic.com" crossorigin>

    <link href="~/Content/assest/fonts/fontgoogle1.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Zirve Müşavir Forum</title>
</head>
<body>

    @RenderPage("~/Views/Shared/_Header.cshtml")


    <div class="container-fluid">
        <div class="row item1">
            <div class="col-1">

            </div>
            <div class="col-10 col-sm-10 col-md-10 bg-dark bg-gradient item2 ">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10 item3">

                        <div class="row">
                            <div class="col-sm-6 bos">
                                <div class="card card1">
                                    <div class="card-body">
                                        <i class="bi bi-search icons1"></i>
                                        <h5 class="card-title">Teknik sorunuza en iyi yanıtı bulunstf,</h5>
                                        <p class="card-text">başkalarının da kendi sorularına yanıt vermesine yardımcı olun.</p>
                                        <a href="/proje/login/giris.html" class="btn btn-primary">Topluluğa katıl</a>
                                    </div>
                                </div>
                            </div><br>
                            <div class="col-sm-6">
                                <div class="card card1">
                                    <div class="card-body">
                                        <i class="bi bi-box-seam icons1"></i>
                                        <h5 class="card-title">Teknik bilgileriniz için güvenli,</h5>
                                        <p class="card-text"> özel bir alan mı istiyorsunuz?.</p>
                                        <a href="/proje/login/kayit.html" class="btn btn-primary">Ücretsiz bir Ekip oluşturun</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-sm-10 col-md-12 bos">
                        <Center>
                            <h1 class="p-ff-roboto-slab-bold">
                                Merhaba <span style="color:orange;" id="word"></span> has a
                                <br class="p-ff-roboto-slab-bold">
                                tab open to Stack Overflow
                            </h1>
                        </Center>

                    </div>
                    <div class="row topik bos">

                        <div class="col-md-4 bos">
                            <center>
                                <div class="fs-title p-ff-roboto-slab mb4">100+ million</div>
                                <div class="fc-black-300 p-ff-roboto-slab fs-body2 px24">monthly visitors to Stack Overflow &amp; Stack Exchange</div>
                            </center>
                        </div>
                        <div class="col-md-4 bos">
                            <center>
                                <div class="fs-title p-ff-roboto-slab mb4">100+ million</div>
                                <div class="fc-black-300 p-ff-roboto-slab fs-body2 px24">monthly visitors to Stack Overflow &amp; Stack Exchange</div>
                            </center>

                        </div>
                        <div class="col-md-4 bos2">

                            <center>
                                <div class="fs-title p-ff-roboto-slab mb4">100+ million</div>
                                <div class="fc-black-300 p-ff-roboto-slab fs-body2 px24">monthly visitors to Stack Overflow &amp; Stack Exchange</div>
                            </center>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row fix ">
                <div class="col-1"></div>
                <div class="col-sm-12 col-md-5 col-lg-5 wmx12 mx-auto ps-relative z-active mtn128 p32">
                    <div style="background: linear-gradient(0deg, var(orange) 30%, var(white)); margin-left: 25px;" class="py48 bg-orange-050 bar-lg p-bs-wrapper">
                        <center>
                            <div class="kut1 py48 bg-orange-050 bar-lg p-bs-wrapper imgcls2 item2">
                                <div class="col-sm-12">    <img src="~/Content/assest/img/logo/logo.png" alt="" class="logo col-2 col-sm-8 col-2"></div>
                                <div class="col-sm-12">    <img src="~/Content/assest/img/illo-public.svg" alt="" class="col-2 col-sm-8 col-2"></div>
                                <h2 class="col-2 col-sm-8 col-2">
                                    A public platform building the definitive collection of coding questions &amp; answers
                                </h2>
                                <p class="col-2 col-sm-8 col-2">A community-based space to find and contribute answers to technical challenges, and one of the most popular websites in the world.</p>
                                <button type="button" class="btn btn-warning" style="font-size: 26px;padding-left: 20px; padding-right: 20px;">Giriş</button>

                            </div>


                    </div>

                </div>
                <div class="col-sm-12 col-md-5 col-lg-5 wmx12 mx-auto ps-relative z-active mtn128 p32">
                    <div style="background: linear-gradient(0deg, var(orange) 30%, var(white)); margin-left: 25px;" class="py48 bg-orange-050 bar-lg p-bs-wrapper">
                        <center>
                            <div class="kut1 py48 bg-orange-050 bar-lg p-bs-wrapper imgcls2 item2">
                                <div class="col-sm-12">    <img src="~/Content/assest/img/logo/logo.png" alt="" class="logo col-2 col-sm-8 col-2"></div>
                                <div class="col-sm-12"><img src="~/Content/assest/img/illo-public.svg" alt="" class="col-2 col-sm-8 col-2"></div>
                                <h2 class="col-2 col-sm-8 col-2">
                                    A public platform building the definitive collection of coding questions &amp; answers
                                </h2>
                                <p class="col-2 col-sm-8 col-2">A community-based space to find and contribute answers to technical challenges, and one of the most popular websites in the world.</p>
                                <button type="button" class="btn btn-warning" style="font-size: 26px;padding-left: 20px; padding-right: 20px;">Kayıt Ol</button>

                            </div>


                    </div>

                </div>
                <div class="col-1"></div>

                </center>


            </div>




        </div>
    </div>

    @RenderPage("~/Views/Shared/_footer.cshtml")

 
</body>

<script src="~/Content/assest/js/bootstrap.bundle.min.js"></script>

<script>
    const words = ['Zirve', 'Kayseri', 'Game Developer'];
    let word = document.getElementById('word');
    let seconds = 2000;
    let i = 0;
    setInterval(() => {
        if (i == words.length) i = 0;
        word.innerHTML = words[i];
        i++;
    }, seconds);
</script>
</html>