
@{
    ViewBag.Title = "PasswordReset";
}

<h2>PasswordReset</h2>

<!doctype html>
<html lang="tr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="~/Content/assest/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/assest/css/main.css">
    <link rel="preconnect" href="http://fonts.googleapis.com">
    <link rel="preconnect" href="http://fonts.gstatic.com" crossorigin>
    <link href="~/Content/assest/fonts/fontgoogle1.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Zirve Müşavir Forum</title>
</head>
<body>

    @RenderPage("~/Views/Shared/_Header.cshtml")


    <div class="in5"></div>
    <div class="container padding-bottom-3x mb-2 mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="forgot">
                    <h2>Parolanızı mı unuttunuz?</h2>
                    <p>Şifrenizi üç kolay adımda değiştirin. Bu, şifrenizi korumanıza yardımcı olacaktır!</p>
                    <ol class="list-unstyled">
                        <li><span class="text-primary text-medium">1. </span>E-posta adresinizi aşağıya girin.</li>
                        <li><span class="text-primary text-medium">2. </span>Sistemimiz size geçici bir bağlantı gönderecek</li>
                        <li><span class="text-primary text-medium">3. </span>Şifrenizi sıfırlamak için bağlantıyı kullanın</li>
                    </ol>
                </div>
                <form class="card mt-4">
                    <div class="card-body">
                        <div class="form-group"> <label for="email-for-pass">E-posta adresinizi giriniz</label> <input class="form-control" type="text" id="email-for-pass" required=""><small class="form-text text-muted">Kayıt sırasında kullandığınız e-posta adresini girin. Ardından, bu adrese bir bağlantı göndereceğiz.</small> </div>
                    </div>
                    <div class="card-footer"> <button class="btn btn-success" type="submit">Yeni Şifre Al</button> <button class="btn btn-danger" type="submit"><a href="http://localhost/proje" style="text-decoration: none; color:white;">Girişe Geri Dön</button></div></a>
                </form>
            </div>
        </div>
    </div>
    <div class="in5"></div>

    @RenderPage("~/Views/Shared/_footer.cshtml")
</body>

<script src="~/Content/assest/js/bootstrap.bundle.min.js"></script>

<script>
    const words = ['Zirve', 'Kayseri', 'Game Developer'];
    let word = document.getElementById('word');
    let seconds = 2000;
    let i = 0;
    setInterval(() => {
        if (i == words.length) i = 0;
        word.innerHTML = words[i];
        i++;
    }, seconds);
</script>
</html>