<!doctype html>
<html lang="tr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="~/Content/assest/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/assest/css/main.css">
    <link rel="stylesheet" href="~/Content/assest/css/forum.css">
    <link rel="preconnect" href="http://fonts.googleapis.com">
    <link rel="preconnect" href="http://fonts.gstatic.com" crossorigin>
    <link href="~/Content/assest/fonts/fontgoogle1.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script type="text/javascript" src="~/Content/assest/tinymce/js/tinymce/tinymce.min.js"></script>
    <title>Zirve Müşavir Forum</title>
    <script type="text/javascript">
            tinymce.init({
                selector: "#mytextarea",
            });
    </script>
</head>
<body>
    @RenderPage("~/Views/Shared/_Header.cshtml")
    <div class="in2"></div>


    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <div class="container">
        <!-- /Inner sidebar -->
        <!-- /Inner main header -->
        <!-- Inner main body -->
        <div class="col-md-12">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb konuyubaslatanyan">
                    <li class="breadcrumb-item"><a href="#" style="text-decoration: none; font-size: 13px;">Anasayfa</a></li>
                    <li class="breadcrumb-item"><a href="#" style="text-decoration: none; font-size: 13px;">Forum Konuları</a></li>
                    <li class="breadcrumb-item"><a href="#" style="text-decoration: none; font-size: 13px;">Konu</a></li>
                </ol>
            </nav>
        </div>
        <div class="col-md-12 konuyubaslatanyan">
            <div class="p-body-header">
                <div class="p-title ">
                    <h1 class="p-title-value">Başlık Önizleme v1</h1>
                </div>
            </div>
            <div class="p-description ">
                <ul class="listInline listInline--bullet d-flex">
                    <li>
                        <i class="fa--xf far fa-user" aria-hidden="true" title="Konbuyu başlatan"></i>
                        <span class="u-srOnly"></span>
                        <a href="/uye/2365452-esatofficial/" class=""><span class="konutubaslatan" style="text-decoration:none;">Ahmet Yüceler</span></a>
                    </li>
                    <li>
                        <i class="fa--xf far fa-clock" aria-hidden="true" title="Başlangıç tarihi"></i>
                        <span class="u-srOnly"></span>
                        <a href="/konu/3815334-fifa-22-inceleme/" class="u-concealed"><time class="u-dt konutubaslatan" style="text-decoration:none;">Cuma saat 18:17'de</time></a>
                    </li>
                    <li title="Cevaplar">
                        <i class="fa--xf fa fa-reply konutubaslatan" aria-hidden="true" title="Cevaplar"></i>
                        <span class="u-srOnly"></span>
                        0
                    </li>
                    <li title="Görüntüleme">
                        <i class="fa--xf far fa-eye konutubaslatan" aria-hidden="true" title="Görüntüleme"></i>
                        <span class="u-srOnly"></span>
                        15
                    </li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="p-2 p-sm-3 collapse forum-content show col-md-12">
                <div class="card mb-2 col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="media forum-item userbox" style="height:100%;">
                                <center>
                                    <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="http://bootdey.com/img/Content/avatar/avatar1.png" class="mr-3 rounded-circle in3" width="50" alt="User" /></a>
                                    <ul class="listInline listInline--bullet">
                                        <li class="in4">
                                            <i class="fa--xf far fa-user" aria-hidden="true" title="Konbuyu başlatan"></i>
                                            <span class="u-srOnly"></span>
                                            <a href="/uye/2365452-esatofficial/" class=""><span class="" style="text-decoration:none; font-size: 14px; margin-bottom: 10px !important;">Ahmet Yüceler</span></a>
                                        </li>
                                        <li>
                                            <i class="fa--xf far fa-eye" aria-hidden="true" title="Konbuyu başlatan"></i>
                                            <span class="u-srOnly"></span>
                                            <a href="/uye/2365452-esatofficial/" class=""><span class="" style="text-decoration:none; font-size: 14px;">Müşavir</span></a>
                                        </li>
                                    </ul>
                                </center>
                            </div>
                        </div>
                        <div class="col-md-10 konuic">
                            DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,   DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,
                            DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,   DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,
                            DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,   DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,  DENEME,
                        </div>
                        <div class="col-md-1 konuic">
                            <footer class="col-md-12 konuright">
                                <div class="heart konulike" id="heart-button"> <span class="counter">1</span> <i class="fa fa-heart"></i></div>

                                <button type="button" class="btn btn-primary text-uppercase paylas" data-bs-toggle="modal" data-bs-target="#myModel" id="shareBtn" data-bs-placement="top" title="Click Me!"> Paylaş </button> <!-- Modal -->
                                <div class="modal fade" id="myModel" tabindex="-1" aria-labelledby="myModelLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="myModelLabel">Paylaş</h5> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Bu bağlantıyı şununla paylaş:</p>
                                                <div class="d-flex align-items-center icons">
                                                    <a href="#" class="fs-5 d-flex align-items-center justify-content-center"> <span class="fab fa-facebook-f"></span> </a>
                                                    <a href="#" class="fs-5 d-flex align-items-center justify-content-center"> <span class="fab fa-twitter"></span> </a>
                                                    <a href="#" class="fs-5 d-flex align-items-center justify-content-center"> <span class="fab fa-instagram"></span> </a>
                                                    <a href="#" class="fs-5 d-flex align-items-center justify-content-center"> <span class="fab fa-whatsapp"></span> </a>
                                                    <a href="#" class="fs-5 d-flex align-items-center justify-content-center"> <span class="fab fa-telegram-plane"></span> </a>
                                                </div>
                                                <p>Veya bağlantıyı kopyalayın</p>
                                                <div class="field d-flex align-items-center justify-content-between">
                                                    <span class="fas fa-link text-center"></span>
                                                    <input type="text" value="http://localhost/proje/forum/forumdetay2.html"> <button>Kopyala</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </footer>
                        </div>

                    </div>
                </div>

            </div>
        </div>



        <!-- Forum List -->

        <div class="container">
            <div class="p-2 p-sm-3 collapse forum-content show col-md-12">
                <div class="card mb-2 col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="media forum-item userbox" style="height:100%;">
                                <center>
                                    <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="http://bootdey.com/img/Content/avatar/avatar1.png" class="mr-3 rounded-circle in3" width="50" alt="User" /></a>
                                    <ul class="listInline listInline--bullet">
                                        <li class="in4">
                                            <i class="fa--xf far fa-user" aria-hidden="true" title="Konbuyu başlatan"></i>
                                            <span class="u-srOnly"></span>
                                            <a href="/uye/2365452-esatofficial/" class=""><span class="" style="text-decoration:none; font-size: 14px; margin-bottom: 10px !important;">Ahmet Yüceler</span></a>
                                        </li>
                                        <li>
                                            <i class="fa--xf far fa-eye" aria-hidden="true" title="Konbuyu başlatan"></i>
                                            <span class="u-srOnly"></span>
                                            <a href="/uye/2365452-esatofficial/" class=""><span class="" style="text-decoration:none; font-size: 14px;">Müşavir</span></a>
                                        </li>
                                    </ul>
                                </center>
                            </div>
                        </div>
                        <div class="col-md-9 konuic">
                            Yorum....

                        </div>
                        <div class="col-md-1 konuic">
                            <footer class="col-md-12 konuright">
                                <div class="heart konulike" id="heart-button"> <span class="counter">1</span> <i class="fa fa-heart"></i></div>

                                <button type="button" class="btn btn-primary text-uppercase paylas" data-bs-toggle="modal" data-bs-target="#myModel" id="shareBtn" data-bs-placement="top" title="Click Me!"> Paylaş </button> <!-- Modal -->
                                <div class="modal fade" id="myModel" tabindex="-1" aria-labelledby="myModelLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="myModelLabel">Paylaş</h5> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Bu bağlantıyı şununla paylaş:</p>
                                                <div class="d-flex align-items-center icons">
                                                    <a href="#" class="fs-5 d-flex align-items-center justify-content-center"> <span class="fab fa-facebook-f"></span> </a>
                                                    <a href="#" class="fs-5 d-flex align-items-center justify-content-center"> <span class="fab fa-twitter"></span> </a>
                                                    <a href="#" class="fs-5 d-flex align-items-center justify-content-center"> <span class="fab fa-instagram"></span> </a>
                                                    <a href="#" class="fs-5 d-flex align-items-center justify-content-center"> <span class="fab fa-whatsapp"></span> </a>
                                                    <a href="#" class="fs-5 d-flex align-items-center justify-content-center"> <span class="fab fa-telegram-plane"></span> </a>
                                                </div>
                                                <p>Veya bağlantıyı kopyalayın</p>
                                                <div class="field d-flex align-items-center justify-content-between">
                                                    <span class="fas fa-link text-center"></span>
                                                    <input type="text" value="http://localhost/proje/forum/forumdetay2.html"> <button>Kopyala</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </footer>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="p-2 p-sm-3 collapse forum-content show col-md-12">
                <div class="card mb-2 col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="media forum-item userbox" style="height:100%;">
                                <center>
                                    <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="http://bootdey.com/img/Content/avatar/avatar1.png" class="mr-3 rounded-circle in3" width="50" alt="User" /></a>
                                    <ul class="listInline listInline--bullet">
                                        <li class="in4">
                                            <i class="fa--xf far fa-user" aria-hidden="true" title="Konbuyu başlatan"></i>
                                            <span class="u-srOnly"></span>
                                            <a href="/uye/2365452-esatofficial/" class=""><span class="" style="text-decoration:none; font-size: 14px; margin-bottom: 10px !important;">Ahmet Yüceler</span></a>
                                        </li>
                                        <li>
                                            <i class="fa--xf far fa-eye" aria-hidden="true" title="Konbuyu başlatan"></i>
                                            <span class="u-srOnly"></span>
                                            <a href="/uye/2365452-esatofficial/" class=""><span class="" style="text-decoration:none; font-size: 14px;">Müşavir</span></a>
                                        </li>
                                    </ul>
                                </center>
                            </div>
                        </div>
                        <div class="col-md-9 konuic">
                            Yorum....

                        </div>
                        <div class="col-md-1 konuic">
                            <footer class="col-md-12 konuright">
                                <div class="heart konulike" id="heart-button"> <span class="counter">1</span> <i class="fa fa-heart"></i></div>

                                <button type="button" class="btn btn-primary text-uppercase paylas" data-bs-toggle="modal" data-bs-target="#myModel" id="shareBtn" data-bs-placement="top" title="Click Me!"> Paylaş </button> <!-- Modal -->
                                <div class="modal fade" id="myModel" tabindex="-1" aria-labelledby="myModelLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="myModelLabel">Paylaş</h5> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Bu bağlantıyı şununla paylaş:</p>
                                                <div class="d-flex align-items-center icons">
                                                    <a href="#" class="fs-5 d-flex align-items-center justify-content-center"> <span class="fab fa-facebook-f"></span> </a>
                                                    <a href="#" class="fs-5 d-flex align-items-center justify-content-center"> <span class="fab fa-twitter"></span> </a>
                                                    <a href="#" class="fs-5 d-flex align-items-center justify-content-center"> <span class="fab fa-instagram"></span> </a>
                                                    <a href="#" class="fs-5 d-flex align-items-center justify-content-center"> <span class="fab fa-whatsapp"></span> </a>
                                                    <a href="#" class="fs-5 d-flex align-items-center justify-content-center"> <span class="fab fa-telegram-plane"></span> </a>
                                                </div>
                                                <p>Veya bağlantıyı kopyalayın</p>
                                                <div class="field d-flex align-items-center justify-content-between">
                                                    <span class="fas fa-link text-center"></span>
                                                    <input type="text" value="http://localhost/proje/forum/forumdetay2.html"> <button>Kopyala</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </footer>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="p-2 p-sm-3 collapse forum-content show col-md-12">
                <div class="card mb-2 col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="media forum-item userbox" style="height:100%;">
                                <center>
                                    <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="http://bootdey.com/img/Content/avatar/avatar1.png" class="mr-3 rounded-circle in3" width="50" alt="User" /></a>
                                    <ul class="listInline listInline--bullet">
                                        <li class="in4">
                                            <i class="fa--xf far fa-user" aria-hidden="true" title="Konbuyu başlatan"></i>
                                            <span class="u-srOnly"></span>
                                            <a href="/uye/2365452-esatofficial/" class=""><span class="" style="text-decoration:none; font-size: 14px; margin-bottom: 10px !important;">Ahmet Yüceler</span></a>
                                        </li>
                                        <li>
                                            <i class="fa--xf far fa-eye" aria-hidden="true" title="Konbuyu başlatan"></i>
                                            <span class="u-srOnly"></span>
                                            <a href="/uye/2365452-esatofficial/" class=""><span class="" style="text-decoration:none; font-size: 14px;">Müşavir</span></a>
                                        </li>
                                    </ul>
                                </center>
                            </div>
                        </div>
                        <div class="col-md-9 konuic">
                            Yorum....

                        </div>
                        <div class="col-md-1 konuic">
                            <footer class="col-md-12 konuright">
                                <div class="heart konulike" id="heart-button"> <span class="counter">1</span> <i class="fa fa-heart"></i></div>

                                <button type="button" class="btn btn-primary text-uppercase paylas" data-bs-toggle="modal" data-bs-target="#myModel" id="shareBtn" data-bs-placement="top" title="Click Me!"> Paylaş </button> <!-- Modal -->
                                <div class="modal fade" id="myModel" tabindex="-1" aria-labelledby="myModelLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="myModelLabel">Paylaş</h5> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Bu bağlantıyı şununla paylaş:</p>
                                                <div class="d-flex align-items-center icons">
                                                    <a href="#" class="fs-5 d-flex align-items-center justify-content-center"> <span class="fab fa-facebook-f"></span> </a>
                                                    <a href="#" class="fs-5 d-flex align-items-center justify-content-center"> <span class="fab fa-twitter"></span> </a>
                                                    <a href="#" class="fs-5 d-flex align-items-center justify-content-center"> <span class="fab fa-instagram"></span> </a>
                                                    <a href="#" class="fs-5 d-flex align-items-center justify-content-center"> <span class="fab fa-whatsapp"></span> </a>
                                                    <a href="#" class="fs-5 d-flex align-items-center justify-content-center"> <span class="fab fa-telegram-plane"></span> </a>
                                                </div>
                                                <p>Veya bağlantıyı kopyalayın</p>
                                                <div class="field d-flex align-items-center justify-content-between">
                                                    <span class="fas fa-link text-center"></span>
                                                    <input type="text" value="http://localhost/proje/forum/forumdetay2.html"> <button>Kopyala</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </footer>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="p-2 p-sm-3 collapse forum-content show col-md-12">
                <div class="card mb-2 col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="media forum-item userbox" style="height:100%;">
                                <center>
                                    <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="http://bootdey.com/img/Content/avatar/avatar1.png" class="mr-3 rounded-circle in3" width="50" alt="User" /></a>
                                    <ul class="listInline listInline--bullet">
                                        <li class="in4">
                                            <i class="fa--xf far fa-user" aria-hidden="true" title="Konbuyu başlatan"></i>
                                            <span class="u-srOnly"></span>
                                            <a href="/uye/2365452-esatofficial/" class=""><span class="" style="text-decoration:none; font-size: 14px; margin-bottom: 10px !important;">Ahmet Yüceler</span></a>
                                        </li>
                                        <li>
                                            <i class="fa--xf far fa-eye" aria-hidden="true" title="Konbuyu başlatan"></i>
                                            <span class="u-srOnly"></span>
                                            <a href="/uye/2365452-esatofficial/" class=""><span class="" style="text-decoration:none; font-size: 14px;">Müşavir</span></a>
                                        </li>
                                    </ul>
                                </center>
                            </div>
                        </div>
                        <div class="col-md-9 konuic">
                            Yorum....

                        </div>
                        <div class="col-md-1 konuic">
                            <footer class="col-md-12 konuright">
                                <div class="heart konulike" id="heart-button"> <span class="counter">1</span> <i class="fa fa-heart"></i></div>

                                <button type="button" class="btn btn-primary text-uppercase paylas" data-bs-toggle="modal" data-bs-target="#myModel" id="shareBtn" data-bs-placement="top" title="Click Me!"> Paylaş </button> <!-- Modal -->
                                <div class="modal fade" id="myModel" tabindex="-1" aria-labelledby="myModelLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="myModelLabel">Paylaş</h5> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Bu bağlantıyı şununla paylaş:</p>
                                                <div class="d-flex align-items-center icons">
                                                    <a href="#" class="fs-5 d-flex align-items-center justify-content-center"> <span class="fab fa-facebook-f"></span> </a>
                                                    <a href="#" class="fs-5 d-flex align-items-center justify-content-center"> <span class="fab fa-twitter"></span> </a>
                                                    <a href="#" class="fs-5 d-flex align-items-center justify-content-center"> <span class="fab fa-instagram"></span> </a>
                                                    <a href="#" class="fs-5 d-flex align-items-center justify-content-center"> <span class="fab fa-whatsapp"></span> </a>
                                                    <a href="#" class="fs-5 d-flex align-items-center justify-content-center"> <span class="fab fa-telegram-plane"></span> </a>
                                                </div>
                                                <p>Veya bağlantıyı kopyalayın</p>
                                                <div class="field d-flex align-items-center justify-content-between">
                                                    <span class="fas fa-link text-center"></span>
                                                    <input type="text" value="http://localhost/proje/forum/forumdetay2.html"> <button>Kopyala</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </footer>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="p-2 p-sm-3 collapse forum-content show col-md-12">
                <div class="card mb-2 col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="media forum-item userbox" style="height:100%;">
                                <center>
                                    <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="http://bootdey.com/img/Content/avatar/avatar1.png" class="mr-3 rounded-circle textareaprof" width="90" alt="User" /></a>
                                </center>
                            </div>
                        </div>
                        <div class="col-md-9 konuic">
                            <p><textarea id="mytextarea"></textarea></p>
                            <div class="col-md-12">
                                <center>
                                    <input type="submit" class="btn btn-success btn-send" value="Cevap Yaz">
                            </div></center>
                            <div class="col-md-1"></div>

                        </div>

                    </div>
                </div>

            </div>
        </div>



        <ul class="pagination pagination-sm pagination-circle justify-content-center mb-0">
            <li class="page-item disabled">
                <span class="page-link has-icon"><i class="material-icons">Geri</i></span>
            </li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
            <li class="page-item active"><span class="page-link">2</span></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
            <li class="page-item">
                <a class="page-link has-icon" href="javascript:void(0)"><i class="material-icons">İleri</i></a>
            </li>
        </ul>
    </div>
    </div>
    <!-- /Inner main -->
    </div>

    </div>
    </div>


    <div class="in2"></div>

    </div>
    </div>
    @RenderPage("~/Views/Shared/_footer.cshtml")
</body>
<script type="text/javascript">
    var heart_button = document.getElementById('heart-button');

    heart_button.addEventListener("click", function() {
        let counter_value = document.querySelector('.counter');
        let count = counter_value.innerHTML;
        counter = Number(count)+1;
        console.log(counter);
        counter_value.innerHTML=counter;
    });

    document.addEventListener('DOMContentLoaded',function(e){
        let field = document.querySelector('.field');
        let input = document.querySelector('input');
        let copyBtn = document.querySelector('.field button');

        copyBtn.onclick = () =>{
            input.select();
            if(document.execCommand("copy")){
                field.classList.add('active');
                copyBtn.innerText = 'Copied';
                setTimeout(()=>{
                    field.classList.remove('active');
                    copyBtn.innerText = 'Copy';
                },3500)
            }
        }
    })
</script>
<script src="~/Content/assest/js/bootstrap.bundle.min.js"></script>
</html>