<header class="top-bar">
	<nav class="top-bar navbar navbar-expand-lg navbar-light bg-light">
		<div class="container bg-light">
			<a class="navbar-brand"  href="/">ZirveLOGO</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse navacilir" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
                        <a class="nav-link  navsayi" aria-current="page" href="/">Anasayfa</a> 
					</li>
					<li class="nav-item">
						<a class="nav-link  navsayi" aria-current="page" href="/Forum/">Konular</a>
					</li>
					<!--<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle navsayi" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Forum İçerik
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="/Forum/">Konular</a></li>
							<li><a class="dropdown-item" href="/Forum/">Konular</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="/proje/profil.html">Profil Düzenle</a></li>
						</ul>
					</li>-->
				</ul>
				<form class="d-flex">
					<input class="col-sm-2 form-control me-2 search2" type="search" placeholder="Ara" aria-label="Ara">
					<i class="bi bi-search searchl" type="submit"></i>
				</form><br>
                       <div class="col-md-3 logins1">

                           @{
                               /*
                               var greeting = "Welcome to our site!";
                               var weekDay = DateTime.Now.DayOfWeek;
                               var greetingMessage = greeting + " Here in Huston it is: " + weekDay;
                               */

                               if (ViewBag.Sess_sta == null)
                               {
                                   <button type="button" class="btn btn-outline-success" onclick="window.location.href = '/Home/Giris';">Giriş Yap</button>
                                   <button type="button" class="btn btn-outline-info" onclick="window.location.href = '/Home/Kayit';">Kayıt Ol</button>


                               }


                               else
                               {


                                   @ViewBag.Kullanici;

                                   <a href="Home/Cikis"> Çıkış </a>
                               }

                           }



                       </div>
			</div>
		</div>

	</nav>

</header>